<div class ='container'>
  <%= form_with url: '/login', method: 'POST' do |form| %>
    <div class='mb-1'>
      <%= form.label :email, "Email" %>
    </div>
    <div class='mb-1'>
      <%= form.email_field :email %>
    </div>
    <div class='mb-1'>
      <%= form.label :password, "Password" %>
    </div>
    <div class='mb-1'>
      <%= form.password_field :password %>
    </div>
    
    <%= form.submit "Login" %>
  <% end %>
</div>
