<div class ='container'>
  <%= form_with url: '/sign_up', method: 'POST' do |form| %>
    <div class='mb-1'>
      <%= form.label :email, "Email" %>
    </div>
    <div class='mb-1'>
      <%= form.email_field :email %>
    </div>
    <div class='mb-1'>
      <%= form.label :name, "Name" %>
    </div>
    <div class='mb-1'>
      <%= form.text_field :name %>
    </div>
    <div class='mb-1'>
      <%= form.label :password, "Password" %>
    </div>
    <div class='mb-1'>
      <%= form.password_field :password %>
    </div>
    <div class='mb-1'>
      <%= form.label :password_confirmation, "Password Confirmation" %>
    </div>
    <div class='mb-1'>
      <%= form.password_field :password_confirmation %>
    </div>
    
    <%= form.submit "Sign Up" %>
  <% end %>
</div>
